body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: left;
}

header h1, header h2 {
    text-align: left; /* Alinha os títulos à esquerda */
}

footer button {
    background-color: #2b2929;
    color: #8e24aa;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

footer button:hover {
    background-color: #8e24aa;
}

.rocketseat-logo {
    margin-left: -600px; /* Ajuste o valor conforme necessário */
    font-size: 2.5em; /* Adiciona ponto e vírgula */
}

.Contatos {
    margin-left: -600px; /* Ajuste o valor conforme necessário */
    font-size: 4em; /* Adiciona ponto e vírgula */
}

.Desafio-16 {
    margin-left: -600px; /* Ajuste o valor conforme necessário */
    font-size: 2em; /* Adiciona ponto e vírgula */
    color: #2b2929; /* Adiciona ponto e vírgula */
}

.boraCodar {
    margin-left: -600px; /* Ajuste o valor conforme necessário */
    font-size: 2.5em; /* Adiciona ponto e vírgula */
}




    
    